.auth-bg{
 min-height:100vh;
 display:flex;
 align-items:center;
 justify-content:center;
 background:url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee") center/cover;
 font-family:"Segoe UI",sans-serif;
}

.auth-card{
 background:rgba(2,6,23,.9);
 padding:50px;
 border-radius:20px;
 width:380px;
 color:#fff;
 box-shadow:0 25px 50px rgba(0,0,0,.6);
 text-align:center;
}

.auth-card h2{
 margin-bottom:10px;
 font-size:30px;
}

.auth-card p{
 margin-bottom:25px;
 color:#cbd5f5;
}

.auth-card input{
 width:100%;
 padding:14px;
 margin-bottom:15px;
 border-radius:10px;
 border:none;
 outline:none;
}

.auth-btn{
 width:100%;
 padding:14px;
 border:none;
 border-radius:30px;
 background:#facc15;
 font-weight:800;
 cursor:pointer;
 margin-top:10px;
}

.switch{
 margin-top:20px;
}

.switch a{
 color:#22c55e;
 text-decoration:none;
 font-weight:600;
}