.dash-bg{
 min-height:100vh;
 background:
 linear-gradient(135deg,#020617,#020617cc),
 url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438");
 background-size:cover;
 display:flex;
 align-items:center;
 justify-content:center;
 font-family:Segoe UI;
 color:white;
}

.dash-card{
 width:720px;
 background:#020617ee;
 padding:40px;
 border-radius:20px;
 box-shadow:0 15px 40px rgba(0,0,0,.7);
}

h1{
 font-size:34px;
 margin-bottom:5px;
}

.sub{
 opacity:.8;
 margin-bottom:30px;
}

section{
 margin-bottom:30px;
}

section h2{
 color:#22c55e;
 margin-bottom:10px;
}

ul{
 list-style:none;
 padding:0;
}

li{
 margin-bottom:15px;
}

a{
 color:#38bdf8;
 font-weight:700;
 text-decoration:none;
}

.locked{
 opacity:.6;
 border:1px dashed #22c55e;
 padding:15px;
 border-radius:12px;
}

.loading{
 color:white;
 text-align:center;
 margin-top:100px;
}