.prog-bg{
 min-height:100vh;
 background:linear-gradient(120deg,#020617,#020617cc),
 url("https://images.unsplash.com/photo-1496307042754-b4aa456c4a2d");
 background-size:cover;
 display:flex;
 justify-content:center;
 align-items:center;
 font-family:Segoe UI;
}

.prog-card{
 background:#020617ee;
 color:white;
 padding:50px;
 border-radius:20px;
 max-width:520px;
 box-shadow:0 15px 40px rgba(0,0,0,.6);
}

.prog-section{
 margin:25px 0;
}

.prog-section a{
 display:inline-block;
 margin-top:8px;
 color:#22c55e;
 font-weight:700;
 text-decoration:none;
}

.coming{
 margin-top:30px;
 opacity:.8;
 text-align:center;
}